.column-chart {
    height: 300px;
    border: 2px solid #c4c4c4;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.column-chart__caption {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column-chart__title {

}

.column-chart__header {
    align-self: flex-start;
}

.column-chart__chart {
    display: flex;
    flex: 1 1 auto;
    flex-grow: 1;
    align-items: flex-end;
    width: 100%;
}

.column-chart__row {
    flex: 1 1 100%;
    background: #e4e7e0;
    margin-left: 2px;
}